<div class="container-fluid">
    <form>
    
        <div class="form-group">
  
            <label for="description">Description</label>
            <textarea class="form-control" id="description" required></textarea>
  
        </div>
        <div class="form-group">
            <label for="cost">Cost</label>
            <input type='text' id="complete" required>
  
        </div>
        <div class="form-group">
            <label for="complete">Quantity</label>
            <input type='' id="qnty" required>
  
        </div>
        <div class="form-group">
            <label for="complete">VAT</label>
            <input type='#' id="vat" required>
  
        </div>
        <br>
        <button class="btn btn-secondary">Delete Row</button>
    </form>
  </div>
  
  